<%- include('CommonTemplates/PageStart.ejs') %>
    <title>NodeProj | Error</title>
    <%- include('CommonTemplates/MidNavigation.ejs') %>

    <img src="/Images/404.png" alt="404 Error" style="width:100%;height:90vh">

<%- include('CommonTemplates/PageEnd.ejs') %>