<%- include('CommonTemplates/PageStart.ejs') %>
    <title>NodeProj | Add Book</title>
    <%- include('CommonTemplates/MidNavigation.ejs') %>
    <div class="container w-25">
        <form action="/Product" method="POST">
            <div class="form-group">
                <input type="text" name="pName" placeholder="Name" class="form-control mb-1">
                 <input type="number" name="pCost" placeholder="Cost" class="form-control mb-1">
                <button type="Submit" class="btn btn-success mr-auto ml-auto">Submit</button>
            </div>
        </form> 
    </div>
    <%- include('CommonTemplates/PageEnd.ejs') %>