<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= 'Mane | ' + module + ' | ' + page %></title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Mane</a>
            <ul class="navbar-nav">
                 <% if(module == 'enduser'){ %>
                    <li class="nav-item">
                        <% if (page == 'Products'){ %>
                            <a class="nav-link active" href="/User/Products">Products</a>
                        <% } else{ %> 
                            <a class="nav-link" href="/User/Products">Products</a>
                        <% } %>
                    </li>
                    <%if(isLoggedIn){%>
                        <li class="nav-item">
                            <% if (page == 'Orders'){ %>
                                <a class="nav-link active" href="/User/Orders"> Orders </a>
                            <% } else{ %> 
                                <a class="nav-link" href="/User/Orders"> Orders </a>
                            <% } %>
                        </li>
                        <li class="nav-item">
                            <% if (page == 'Cart'){ %>
                                <a class="nav-link active" href="/User/Cart"> Cart </a>
                            <% } else{ %> 
                                <a class="nav-link" href="/User/Cart"> Cart </a>
                            <% } %>
                        </li>
                    <% } %>

                <% } else if (module == 'admin') {%>
                    <li class="nav-item">
                        <% if (page == 'Products'){ %>
                            <a class="nav-link active" href="/Admin/Products"> Products </a>
                        <% } else{ %> 
                            <a class="nav-link" href="/Admin/Products"> Products </a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <% if (page == 'AddProduct'){ %>
                            <a class="nav-link active" href="/Admin/AddProduct"> Add Product</a>
                        <% } else{ %> 
                            <a class="nav-link" href="/Admin/AddProduct"> Add Product</a>
                        <% } %>
                    </li>
                <% } %> 

               <% if(!isLoggedIn) { %>

                    <form class="form-inline ml-3 mr-1"  action="/Login" method="POST">
                        <input type="text" class="form-control mr-1" placeholder="Email" name="email">
                        <input type="password" class="form-control mr-1" placeholder="Password" name="password">
                        <input type="submit" class="btn btn-success" value="Login">
                    </form>
                <% } else {%>
                        <form class="form-inline ml-3 mr-1"  action="/Logout" method="GET">
                            <input type="submit" class="btn btn-success" value="Logout">
                        </form>
                <% } %>
                <!-- <li class="nav-item"> <a class="nav-link ml-5" href="/Admin">Admin</a></li>
                <li class="nav-item"> <a class="nav-link" href="/User">User</a></li> -->
            </ul>
        </div>
    </nav>