<form action="/User/AddToCart" method="POST" class="d-inline">
    <input type="hidden" value="<%= productID %>" name="productID">
    <%if(isLoggedIn){%>
    <button class="btn btn-outline-success" type="submit">Add to cart</button>
    <%} %>
</form>